<li>
<app-movie (myButtonClicked) = "showDelete($event)" *ngFor = "let movie of movies" [data] = "movie"></app-movie>
</li>
<h1>the movie u delete:{{text}} </h1>

<br>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Movie ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Studio">
    <th mat-header-cell *matHeaderCellDef> Studio </th>
    <td mat-cell *matCellDef="let element"> {{element.Studio}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="WeekendIncome">
    <th mat-header-cell *matHeaderCellDef> Weekend Income</th>
    <td mat-cell *matCellDef="let element"> {{element.WeekendIncome}} </td>
  </ng-container>

  <ng-container matColumnDef="show">
    <th mat-header-cell *matHeaderCellDef> delete movie</th>
    <td mat-cell *matCellDef="let element"> 
      <button (click)="deleteRow(element.id,element.show)">Delete</button>
       </td>
  </ng-container>
  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf = "showtext">the movie u deleted is : {{deletes}}</div>